<div class="mt-3">
    <section class="container mb-4">
      <div class="row">
        <div class="col">
          <h1 class="m-0">Bem-vindo!</h1>
          <hr class="mt-0 mb-3">
          <p>
            Esta página foi criada para demonstrar minhas capacidades e habilidades como desenvolvedor front-end,
            com o objetivo de concorrer à vaga na <strong>Info Sistemas</strong>. Aqui, você encontrará uma
            aplicação web moderna e responsiva, desenvolvida utilizando as melhores práticas e tecnologias atuais.
          </p>
          <p>
            A funcionalidade principal, como solicitado, é o <i>"CRUD" da lista de veículos</i>. Fiquem à vontade para
            analisar da melhor forma.
          </p>
        </div>
      </div>
    </section>
    <section class="bg-section-1">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="m-0 text-light">Resumo do Back-End</h2>
            <hr class="mt-1 mb-3 text-light">
            <!-- Cards Section -->
            <div class="row">
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Configuração Inicial</div>
                  <div class="card-body">
                    <p class="card-text">Node.js e Express foram utilizados para configurar o servidor web.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Instalação de Dependências</div>
                  <div class="card-body">
                    <p class="card-text">Mongoose foi utilizado para facilitar a interação com o MongoDB.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Estrutura de Pastas</div>
                  <div class="card-body">
                    <p class="card-text">Organização modular do código para facilitar a manutenção e escalabilidade.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Configuração do Servidor</div>
                  <div class="card-body">
                    <p class="card-text">dotenv foi utilizado para carregar variáveis de ambiente do arquivo .env.</p>
                    <p class="card-text">Mongoose Connect foi utilizado para conectar ao MongoDB.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Modelo de Dados</div>
                  <div class="card-body">
                    <p class="card-text">veiculoSchema define a estrutura dos documentos na coleção de veículos.</p>
                    <p class="card-text">Um campo `id` personalizado foi implementado para gerar IDs únicos e rastreáveis.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Controladores</div>
                  <div class="card-body">
                    <p class="card-text">Funções para criar, ler, atualizar e deletar veículos foram implementadas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Rotas</div>
                  <div class="card-body">
                    <p class="card-text">Rotas para criar, ler, atualizar e deletar veículos foram definidas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-back mb-3">
                  <div class="card-header">Testes Unitários</div>
                  <div class="card-body">
                    <p class="card-text">Mocha e Chai foram utilizados para garantir a funcionalidade correta do Back.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="bg-section-2">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="m-0">Resumo do Front-End</h2>
            <hr class="mt-1 mb-3">
            <!-- Cards Section -->
            <div class="row">
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-front mb-3">
                  <div class="card-header">Configuração Inicial</div>
                  <div class="card-body">
                    <p class="card-text">Angular 17 foi utilizado como framework principal para a construção da aplicação web.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-front mb-3">
                  <div class="card-header">Estilos e Responsividade</div>
                  <div class="card-body">
                    <p class="card-text">SASS foi utilizado como pré-processador de CSS.</p>
                    <p class="card-text">NgBootstrap foi utilizado para componentes responsivos.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-front mb-3">
                  <div class="card-header">Ícones</div>
                  <div class="card-body">
                    <p class="card-text">Material Icons foi utilizado para adicionar ícones modernos e atraentes à interface.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-front mb-3">
                  <div class="card-header">Funcionalidades</div>
                  <div class="card-body">
                    <p class="card-text">Implementação de CRUD para a lista de veículos, incluindo adicionar, editar e deletar veículos.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-front mb-3">
                  <div class="card-header">Serviço HTTP</div>
                  <div class="card-body">
                    <p class="card-text">Serviço para consumir a API do backend e realizar operações CRUD.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-front mb-3">
                  <div class="card-header">Consumo de dados</div>
                  <div class="card-body">
                    <p class="card-text">Criei uma rota para consumir as informações de um banco NoSQL (Para utilizarmos no dia da entrevista) e outra para consumir de um serviço Mockado (Para vocês testarem no projeto GitHub).</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-md-6">
                <div class="card info-cards-front mb-3">
                  <div class="card-header">Testes Unitários</div>
                  <div class="card-body">
                    <p class="card-text">Karma e Jasmine foram utilizados para garantir a funcionalidade correta do Front.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  