<div class="mt-3 mb-1">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-2 d-flex justify-content-center">
            <div class="profile" alt="Profile-Image"></div>
        </div>
        <div class="col">
            <div>
                <h1 class="m-0">Sobre mim</h1>
                <hr class="mt-0 mb-3">
                <p>
                    Olá! Meu nome é Thiago Feitosa e sou desenvolvedor front-end. Esta página foi criada para demonstrar
                    minhas capacidades e habilidades como desenvolvedor, com o objetivo de concorrer à vaga na
                    <strong>Info Sistemas</strong>.
                </p>
                <p>
                    Com mais de 16 anos de experiência em Tecnologia da Informação, construí uma carreira distinta em
                    Front-End com foco em gestão de projetos e liderança técnica. Minha expertise abrange arquiteturas
                    de sistemas avançadas, modernização de aplicações e a aplicação de metodologias ágeis para otimizar
                    processos e entregar soluções inovadoras.
                </p>
                <p>
                    Atualmente atuando como Home Manager em uma grande empresa de tecnologia, tenho
                    liderado e orientado equipes enquanto gerencio projetos de grande escala, com foco na implementação
                    e adaptação das melhores soluções relacionadas à inteligência artificial para sistemas de alta
                    complexidade. Além disso, sou proficiente nas principais ferramentas de desenvolvimento Front-End do
                    mercado e especializado em UX e UI, garantindo a criação de interfaces intuitivas e impactantes.
                    Minha abordagem estratégica e adaptabilidade são direcionadas para alcançar resultados
                    significativos e promover inovação contínua.
                </p>

                <p>
                    Fique à vontade para entrar em contato comigo através das redes sociais abaixo:
                </p>
            </div>
            <div class="social-media">
                <a href="https://www.linkedin.com/in/tsfeitosa/" class="mb-2" target="_blank">
                    <img src="../../../assets/images/linkedin.png">
                </a>
                <a href="mailto:tsignoretti@gmail.com" class="mb-2">
                    <img src="../../../assets/images/gmail.png">
                </a>
                <a href="https://wa.me/5511999170106" class=" mb-2" target="_blank">
                    <img src="../../../assets/images/whatsapp.png">
                </a>
                <a href="https://github.com/thiagosfeitosa" class="mb-2" target="_blank">
                    <img src="../../../assets/images/github.png">
                </a>
            </div>
        </div>
    </div>
</div>
</div>