/* Estilos Globais */
body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $text-color;
}

.footer {
  background-color: $secondary-color;
  width: 100%;
  color: $white;
}

/* Estilos para Botões */
.info-btn {
  &-primary {
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: darken($primary-color, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($primary-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      background-color: lighten($primary-color, 20%);
      color: $gray-dark;
    }
  }

  &-secondary {
    background-color: $secondary-color;
    color: $white;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: darken($secondary-color, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($secondary-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      background-color: lighten($secondary-color, 20%);
      color: $gray-dark;
    }
  }

  &-outline-primary {
    background-color: transparent;
    color: $primary-color;
    box-shadow: inset 0 0 0 2px $primary-color;
    border-radius: 50px;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }

    &:active {
      background-color: darken($primary-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      color: lighten($primary-color, 20%);
      box-shadow: inset 0 0 0 2px lighten($primary-color, 20%);
    }
  }

  &-outline-secondary {
    background-color: transparent;
    color: $secondary-color;
    box-shadow: inset 0 0 0 2px $secondary-color;
    border-radius: 50px;

    &:hover {
      background-color: $secondary-color;
      color: $white;
    }

    &:active {
      background-color: darken($secondary-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      color: lighten($secondary-color, 20%);
      box-shadow: inset 0 0 0 2px lighten($secondary-color, 20%);
    }
  }

  &-muted {
    background-color: $gray-light;
    color: $text-muted;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: darken($gray-light, 3%);
    }

    &:active {
      background-color: darken($gray-light, 6%) !important;
      color: $gray-dark !important;
    }

    &:disabled {
      background-color: lighten($gray-light, 20%);
      color: $gray-dark;
    }
  }

  &-disabled {
    background-color: $gray-dark;
    color: $gray-light;
    border: none;
    border-radius: 50px;
    cursor: not-allowed;
  }

  &-success{
    background-color: $success-color;
    color: $white;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: darken($success-color, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($success-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      background-color: lighten($success-color, 20%);
      color: $gray-dark;
    }
  }

  &-danger{
    background-color: $danger-color;
    color: $white;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: darken($danger-color, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($danger-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      background-color: lighten($danger-color, 20%);
      color: $gray-dark;
    }
  }

  &-warning{
    background-color: $warning-color;
    color: $white;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: darken($warning-color, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($warning-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      background-color: lighten($warning-color, 20%);
      color: $gray-dark;
    }
  }

  &-info{
    background-color: $info-color;
    color: $white;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: darken($info-color, 3%);
      color: $white;
    }

    &:active {
      background-color: darken($info-color, 6%) !important;
      color: $gray-light !important;
    }

    &:disabled {
      background-color: lighten($info-color, 20%);
      color: $gray-dark;
    }
  }
}