/* Cores Primárias */
$primary-color: #ffc107; /* Amarelo Info */
$secondary-color: #3c3733; /* Cinza Info */
$success-color: #28a745; /* Verde */
$danger-color: #dc3545; /* Vermelho */
$warning-color: #f6b849; /* Amarelo */
$info-color: #17a2b8; /* Ciano */

/* Cores Neutras */
$white: #ffffff; /* Branco */
$black: #000000; /* Preto */
$gray-light: #f8f9fa; /* Cinza Claro */
$gray-dark: #343a40; /* Cinza Escuro */

/* Cores de Texto */
$text-color: #212529; /* Preto Suave */
$text-muted: #6c757d; /* Cinza Suave */
